/*** Radio Image STARTS ***/
#customize-preview {
    margin-top: -32px !important;
}

input.coder-radio-image {
    display: none;
}
input.coder-radio-image + span {
    margin-right: 10px;
    display: inline-flex;
    padding: 2px!important;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 2px solid #FFFFFF;
}
input.coder-radio-image:checked + span {
    border: 2px solid #777777;
}
/*** Radio Image ENDS ***/